/*head*/
a {
    text-decoration: none;
}

a.active {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.banner {
    width: 100%;
    background: url('../img/aardp-banner.png') no-repeat center;
    height: 656px;
    color: #fff;
    text-align: center;
    position: relative;
}
/*product*/
.product {
    width: 100%;
    height: auto;
    text-align: center;
   /* display: none;*/
}
.product1{
    width: 100%;
    height: auto;
    text-align: center;
}
.product1 .container {
    width:100%;
    /* background-color: #ffff00;*/
    padding: 75px 0;
}

.product1 .container h3 {
    color: #383c45;
    font-size: 36px;
    line-height: 36px;

}

.product1 .container .row {
    margin: 80px 0 120px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.product1 .container .row img {
    display: block;
    margin: 0 auto;
}
.product .container {
    width:100%;
    /* background-color: #ffff00;*/
    padding: 75px 0;
}

.product .container h3 {
    color: #383c45;
    font-size: 36px;
    line-height: 36px;

}

.product .container .row {
    margin: 80px 0 0px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.product .container .row img {
    display: block;
    margin: 0 auto;
}

.product .container .row .col-xs-6:hover img {
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.product .container h4 {
    line-height: 36px;
    margin-top: 35px;
    margin-bottom: 25px;
    color: #3a3d44;
    font-size: 22px;
}

.product .container p {
    line-height: 24px;
    color: #080808;
    font-size: 14px;
    font-family: 微软雅黑;
    font-size: 14px;
}

.product .product-item-2 h4 {
    margin-bottom: 27px;
}

. .-item-3 h4 {
    margin-top: 50px;
}

/*index-main*/
.index-main {
    width: 100%;
    /* height: 500px;*/
    height: auto;
    background: #fff;
    text-align: center;
}

.index-main-item {
    background-color: #f5f5f5;
    /*  height: 975px;*/
}

.index-main-item-1, .index-main-item-2, .index-main-item-3, .index-main-item-4 {
    position: relative;
}

.index-main-item-1 {
    background-color: #45bab1;
}

.index-main-item-3 {
    background-color: #45aeba;
}

.index-main-item-4 {
    background-color: #fff;
}

.index-main-item-5 {
    background-color: #45ba98;
}

/*index-item 图片样式*/
.index-main-item img {
    display: block;
    /* width: 100%;*/
    height: auto;
    margin: 222px auto;
}

.index_download_item_iconWrap img {
    margin: 0 auto;
}

.index-main-item-1 img {
    width: 100%;
}

.index-main-item-1 .part-tel {
    position: absolute;
    top: 140px;
    right: 0;
    max-width: 227px;

}

.index-main-item-1 .compute {
    width: 190px;
    height: 190px;

}

.index-main-item-1 .compute0 {
    width: 375px;
    height: 374px;
}

.index-main-item-1 .compute1 {
    position: absolute;
    top: -80px;
    left: 40px;
}

.index-main-item-1 .compute2 {
    position: absolute;
    top: -80px;
    right: 55px;
}

.index-main-item-1 .compute3 {
    position: absolute;
    bottom: -50px;
    left: 37px;
}

.index-main-item-1 .compute4 {
    position: absolute;
    bottom: -40px;
    right: 57px;
}

.index-main-item-3 .par3-com {
    width: 543px;
    height: auto;
}

.index-main-item-3 .aanets-1 {
    position: absolute;
    width: 342px;
    height: 193px;
    top: -105px;
    right: -40px;
}

.index-main-item-3 .aanets-2 {
    position: absolute;
    width: 190px;
    height: 229px;
    bottom: 0;
    left: 55px;
}

.index-main-item-3 .par1-tel2 {
    position: absolute;
    width: 130px;
    height: 228px;
    bottom: -115px;
    right: 300px;
}

.index-main-item-4 .par3-tel {
    position: absolute;
    right: 0;
    bottom: -45px;
    width: 303px;
    height: 168px
}

.index-main-item-4 .aardp-tel-2 {
    position: absolute;
    left: 105px;
    bottom: -80px;
    width: 350px;
    height: 335px;
}

.index-main-item-4 .par4-com {
    width: 597px;
    height: 480px;
}

.index-main-item-5 .iMac5 {
    width: 618px;
    height: 487px;
}

.index-main-item-5 .ip1 {
    width: 303px;
    height: 168px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.index-main-item-5 .ip2 {
    width: 227px;
    height: 176px;
    position: absolute;
    top: -85px;
    right: 0;
}

.index-main-item-5 .ip3 {
    width: 357px;
    height: 335px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*down-ul*/
.index-main-item .down-ul {
    margin: 30px auto;
    text-align: center;
}

.index-main-item-3 .down-ul,
.index-main-item-5 .down-ul {
    text-align: right;
}

.index-main-item-4 .down-ul {
    text-align: left;
}

.down-ul a {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 0;
    margin: 10px 1%;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.down-ul a.aardp-use-a,
.down-ul a.aardp-add-user-a {
    border: 1px solid #45bab1;
    background: #45bab1;
    opacity: .6;
}

.down-ul a img {
    display: block;
    width: 27px;
    height: 24px;
    margin: 20px auto 0;
    /*   background: url("../img/icon-ved.png") no-repeat center;*/
}

.down-ul a span {
    display: block;
    margin-top: 5px;
}

.down-ul a:hover,
.down-ul a:active,
.down-ul a:visited {
    opacity: 1;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

/*修改二维码文件*/

.down-ul a.down-a:hover,
.down-ul a.down-a:active,
.down-ul a.down-a:visited {
    background: url("../img/remote-down.png") no-repeat center;
}

.down-ul a.login-a:hover,
.down-ul a.login-a:active,
.down-ul a.login-a:visited {
    background: url("../img/remote-login.png") no-repeat center;
}

.down-ul a.use-a:hover,
.down-ul a.use-a:active,
.down-ul a.use-a:visited {
    background: url("../img/remote-use.png") no-repeat center;
}

.down-ul a.aardp-use-a:hover,
.down-ul a.aardp-use-a:active,
.down-ul a.aardp-use-a:visited {
    background: url("../img/aardp-use.png") no-repeat center;
}

.down-ul a.aardp-add-user-a:hover,
.down-ul a.aardp-add-user-a:active,
.down-ul a.aardp-add-user-a:visited {
    background: url("../img/addUser-code.png") no-repeat center;
}

.down-ul a.aanets-use-a:hover,
.down-ul a.aanets-use-a:active,
.down-ul a.aanets-use-a:visited {
    background: url("../img/aanets-code.png") no-repeat center;
}

.down-ul a.IPRemote-use-a:hover,
.down-ul a.IPRemote-use-a:active,
.down-ul a.IPRemote-use-a:visited {
    background: url("../img/ipremote-code.png") no-repeat center;
}

.down-ul a:hover img,
.down-ul a:active img,
.down-ul a:visited img {
    background: none;
}

.down-ul a:hover span,
.down-ul a:active span,
.down-ul a:visited span {
    opacity: 0;
}

/*index-item 文字描述*/
.remote-desc-item {
    margin-top: 30px;
}

.index-main-item .remote-desc {
    height: 530px;
    margin: 222px auto 0;
    text-align: right;
}

.index-main-item-1 .remote-desc,
.index-main-item-3 .remote-desc {
    margin: 100px auto 0;
}

.index-main-item-4 .remote-desc {
    margin: 100px auto 0;
}

.index-main-item-5 .remote-desc {
    margin: 125px auto 0;
}

.index-main-item-1 .remote-desc a.details,
.index-main-item-3 .remote-desc a.details {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    line-height: 45px;
    width: 140px;
    border-radius: 20px;
    text-align: center;
    margin: 50px 0 80px;
}

.index-main-item-4 .remote-desc a.register {
    display: inline-block;
    background-color: #edd400;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    line-height: 45px;
    width: 140px;
    border-radius: 20px;
    text-align: center;
    margin: 50px 0 80px;
}

.index-main-item-1 .remote-desc a.details:hover,
.index-main-item-3 .remote-desc a.details:hover {
    color: #45bab1;
    background-color: #fff;
}

.index-main-item-4 .remote-desc a.register:hover {
    color: #fff;
    background-color: #45bab1;
}

.index-main-item-2 .remote-desc,
.index-main-item-4 .remote-desc {
    text-align: left;
}

.index-main-item .remote-desc h3 {
    /* padding-top: 60px;*/
    font-size: 58px;
    color: #fff;
}

.index-main-item .remote-desc p {
    margin-top: 40px;
    font-size: 23px;
    color: #fff;
}

.index-main-item-2 .remote-desc h3, .index-main-item-4 .remote-desc h3 {
    color: #181818;
    padding-top: 10px;
}

.index-main-item-2 .remote-desc p, .index-main-item-4 .remote-desc p {
    color: #aaaaaa;
}

.index-main-item-5 h4 {
    color: #fff;
    font-size: 30px;
    margin: 60px auto;
}

.index-main-item-5 h4 i {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.index-main-item-5 h4 i:nth-of-type(1) {
    background: url("../img/aanets-icon-1.png") no-repeat center;
}

.index-main-item-5 h4 i:nth-of-type(2) {
    background: url("../img/aanets-icon-2.png") no-repeat center;
}

/*down 样式*/
.index_download_item, .index_download_item_desc,
.index_download_item_iconWrap_hoverIcon,
.index_download_item_title {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.download-main:after {
    content: ".";
    display: inline-block;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    line-height: 0;
    font-size: 0
}

.index_download_item {
    /* display: inline-block;*/
    height: 100%;
    /* padding-top: 64px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    line-height: 1.5;
    width: 32%;
    color: #fff;
    margin: 0 auto;
    float: left;
}

.index_download_item:hover {
    border-radius: 4px;
}

.index_download_item:hover .index_download_item_iconWrap_normalIcon {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(.4, .4);
    -ms-transform: scale(.4, .4);
    transform: scale(.4, .4)
}

.index_download_item:hover .index_download_item_iconWrap_hoverIcon {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.index_download_item:hover .index_download_item_desc,
.index_download_item:hover .index_download_item_title {
    -webkit-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    transform: translateY(-17px)
}

.index_download_item:hover .index_download_item_desc {
    opacity: 1
}

.ww_officialImg {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0
}

.index_download_item_iconWrap {
    position: relative;
    display: inline-block;
    margin-bottom: 25px
}

.index_download_item_iconWrap_normalIcon {
    position: relative;
    z-index: 1;
    vertical-align: top;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.index_download_item_iconWrap_hoverIcon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.333, 1.333);
    -ms-transform: scale(1.333, 1.333);
    transform: scale(1.333, 1.333)
}

.index_download_item_Mac .index_download_item_iconWrap_hoverIcon,
.index_download_item_Window .index_download_item_iconWrap_hoverIcon {
    margin-left: -5px;
    /* margin-top: 15px*/
}

.index_download_item_downloadIcon {
    width: 80px;
    height: 80px;
    background-size: 100%
}

.ios img {
    background: url("../img/down-code-2.png") no-repeat;
    width: 80px;
    height: 80px;
}

.android img {
    background: url("../img/down-code-3.png") no-repeat;
    width: 80px;
    height: 80px;
}

.index_download_item_title {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #666;
    font-size: 14px;
    /*  margin-top: 120px;*/
    text-align: center;
}

.index_download_item_desc {
    color: silver;
    font-size: 12px;
    opacity: 0
}

.ww_officialImg_DownloadIcon {
    background-image: url("../img/iamge-icon.png");
    background-position: -398px -129px;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadAndroid {
    background: url("../img/Android.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadWindows {
    background: url("../img/Windows.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadiOS {
    background: url("../img/IOS.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadRdpWindows {
    background: url("../img/rdp.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadAndroid_aardp {
    background: url("../img/Android.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadWindows_aardp {
    background: url("../img/Windows.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadiOS_aardp {
    background: url("../img/IOS.png") no-repeat center;
    width: 80px;
    height: 80px
}

.ww_officialImg_DownloadIcon_rap {
    background: url("../img/rdp-active.png") no-repeat center;
    width: 80px;
    height: 80px
}

.index-main-item-2 .index_download_item_title,
.index-main-item-4 .index_download_item_title {
    color: #a6a6a6;
}

/*副标题*/
.phone-title {
    /*display: none;*/
    position: absolute;
    top: 600px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    text-align: center;
}

.phone-title ul.phone-ul-web {
    display: block;
}

.phone-title ul.phone-ul-420 {
    display: none;
}

.phone-title ul li {
    display: inline-block;
    width: 180px;
    margin: 20px;
}

.phone-title ul li a {
    display: block;
    font-size: 18px;
    color: #fff;
    line-height: 45px;

    border: 1px solid #fff;
    background-color: #45bab1;
    border-radius: 30px;
    opacity: .7;

}

.phone-title ul li.active-tab a {
    border: 1px solid #fff;
    background-color: #fff;
    opacity: 1;
    color: #45bab1;

}

.phone-title-head {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 999;
    background-color: #45bab1;
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.index-container {
    width: 100%;
    background: #fff;
    height: auto;
    padding: 0 0 50px;
    position: relative;
}

.index-container-top {
    width: 100%;
    background-color: #f8f8f8;
}

.swiper-container {
    width: 80%;
    height: 100%;
    padding: 40px 0;
    margin: 0 auto;
}

.swiper-wrapper {
    /*padding: 25px;*/
    padding-top: 25px;
}

/* .swiper-wrapper li:nth-of-type(1) {
     margin-left: 20px;
 }*/
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*   background: #fff;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*  margin-left: 10px;*/
}

.wrap-action {
    -webkit-animation: appAnimation 1s linear;
    animation: appAnimation 1s linear;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.solution-module-app .name {
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
    line-height: 20px;
}

.solution-module-app p {
    font-size: 12px;
    margin-top: 10px;
}

.aap-icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}

.aap-icon-1 {
    border: 1px solid #16724e;
}

.aap-icon-2 {
    border: 1px solid #ee7785;

}

.aap-icon-3 {
    border: 1px solid #c89ec4;
}

.aap-icon-4 {
    border: 1px solid #67d5b5;
}

.aap-icon-5 {
    border: 1px solid #84b1ed;
}

.aap-icon i {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: inline-block;
    background-size: 90%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.aap-icon i.icon-4 {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background-size: 90%;
    position: absolute;
}

.aap-icon-1 i.icon-1-1 {
    background: url("../img/index-ip-icon-2.png") no-repeat center;
    background-size: 100%;
    top: 25px;
    left: 27px;

}

.aap-icon-1 i.icon-1-2 {
    background: url("../img/index-ip-icon-3.png") no-repeat center;
    background-size: 50%;
    top: 20px;
    left: 25px;

}

.aap-icon-2 i.icon-2-1 {
    background: url("../img/index-web-icon-2.png") no-repeat center;
    left: 3px;
    top: 10px;
    background-size: 50%;
}

.aap-icon-2 i.icon-2-2 {
    background: url("../img/index-web-icon-3.png") no-repeat center;
    background-size: 100%;
    top: 25px;
    right: 15px;
}

.aap-icon-3 i.icon-3-1 {
    width: 70px;
    height: 70px;
    background: url("../img/index-aanets-icon-2.png") no-repeat center;
    background-size: 100%;
    top: 15px;
    left: 15px;
}

.aap-icon-3 i.icon-3-2 {
    background: url("../img/index-aanets-icon-3.png") no-repeat center;
    /* background-size: 90%;*/
    top: 26px;
    left: 24px;
}

.aap-icon-4 i.icon-4-1 {
    background: url("../img/aardp-icon-2.png") no-repeat center;
    /*  background-size: 90%;*/
    left: 12px;
    bottom: 20px
}

.aap-icon-4 i.icon-4-2 {
    background: url("../img/aardp-icon-3.png") no-repeat center;
    /*  background-size: 90%;*/
    right: 12px;
    top: 20px;
}

.aap-icon-5 i.icon-5-1 {
    background: url("../img/index-one-icon-2.png") no-repeat center;
    background-size: 60%;
    left: 10px;

}

.aap-icon-5 i.icon-5-2 {
    background: url("../img/index-one-icon-3.png") no-repeat center;
    right: 10px;
    top: 0;
    background-size: 75%;
    height: 100%;

}

.wrap-action {
    -webkit-animation: appAnimation 1s linear;
    animation: appAnimation 1s linear;
    /*-webkit-transform: scale(1.2);
    transform: scale(1.2)*/
}

.wrap-action .aap-icon {
    width: 100px;
    height: 100px;
    margin-top: -5px;

}

.wrap-action .aap-icon-1 {
    border: 1px solid #16724e;
    box-shadow: 2px 2px 20px 4px rgba(22, 114, 78, .3), -2px -2px 20px 4px rgba(22, 114, 78, .3);
}

.wrap-action .aap-icon-2 {
    border: 1px solid #ee7785;
    box-shadow: 2px 2px 20px 4px rgba(238, 119, 133, .3), -2px -2px 20px 4px rgba(238, 119, 133, .3);
}

.wrap-action .aap-icon-3 {
    border: 1px solid #c89ec4;
    box-shadow: 2px 2px 20px 4px rgba(200, 158, 196, .3), -2px -2px 20px 4px rgba(200, 158, 196, .3);
}

.wrap-action .aap-icon-4 {
    border: 1px solid #67d5b5;
    box-shadow: 2px 2px 20px 4px rgba(103, 213, 181, .3), -2px -2px 20px 4px rgba(103, 213, 181, .3);
}

.wrap-action .aap-icon-5 {
    border: 1px solid #84b1ed;
    box-shadow: 2px 2px 20px 4px rgba(132, 177, 237, .3), -2px -2px 20px 4px rgba(132, 177, 237, .3);
}

.wrap-action .aap-icon i {
    margin: 0 auto;
    background-size: 50%;

}

.wrap-action .solution-module-app-1 .name,
.wrap-action .solution-module-app-1 p {
    color: #16724e;
    line-height: 15px;
}

.wrap-action .solution-module-app-2 .name,
.wrap-action .solution-module-app-2 p {
    color: #ee7785;
    line-height: 15px;
}

.wrap-action .solution-module-app-3 .name,
.wrap-action .solution-module-app-3 p {
    color: #c89ec4;
    line-height: 15px;
}

.wrap-action .solution-module-app-4 .name,
.wrap-action .solution-module-app-4 p {
    color: #67d5b5;
    line-height: 15px;
}

.wrap-action .solution-module-app-5 .name,
.wrap-action .solution-module-app-5 p {
    color: #84b1ed;
    line-height: 15px;
}

.wrap-action .aap-icon-1 i.icon-1-1 {
    background-size: 110%;
    top: 27px;
    left: 23px;
}

.wrap-action .aap-icon-1 i.icon-1-2 {
    -webkit-animation: myfirst 1500ms ease;
    -moz-animation: myfirst 1500ms ease;
    -ms-animation: myfirst 1500ms ease;
}

.wrap-action .aap-icon-2 i.icon-2-1 {
    background-size: 60%;
    left: 0;
    top: 2px;
}

.wrap-action .aap-icon-2 i.icon-2-2 {
    background-size: 110%;
    right: 13px;
    top: 35px;
}
.wrap-action .aap-icon-3 i.icon-3-1 {
    background-size: 60%;
    left: 0;
    top: 2px;
}

.wrap-action .aap-icon-3 i.icon-3-2 {
    background-size: 90%;
    right: 13px;
    top: 35px;
}
.wrap-action .aap-icon-4 i.icon-4-1 {
    background-size: 70%;
    left: 5px;
    bottom: 15px
}

.wrap-action .aap-icon-4 i.icon-4-2 {
    background-size: 80%;
    right: 5px;
    top: 15px;
}

.wrap-action .aap-icon-5 i.icon-5-1 {
    background-size: 70%;
    left: 5px;
    top: -5px;
}

.wrap-action .aap-icon-5 i.icon-5-2 {
    background-size: 70%;
    right: 5px;
    top: 5px;
}

.index-tel-content {
    margin-top: 50px;
    text-align: center;
}

.index-tel-content-item {
    width: 100%;
    margin: 0 auto;
}

.index-tel-content-item h4 {
    font-size: 36px;
    text-align: left;
    color: #666;
    margin: 0 0 20px;
}

.index-tel-content-item p {
    font-size: 16px;
    text-align: left;
    color: #666;
    line-height: 30px;
    margin-top: 0;
}

.index-tel-content-item .video-href {
    margin-top: 20px;
    text-align: left;
}

.video-a {
    display: inline-block;
    width: 110px;
    line-height: 50px;
    border: 1px solid #666666;
    border-radius: 4px;
    text-align: center;
    color: #666;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 10px;
}

.video-a:hover {
    border: 1px solid #16724e;
    color: #16724e;
}

.video-a i {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.video-use i {
    background: url("../img/video-use.png") no-repeat center;
}

.video-details i {
    background: url("../img/details-icon.png") no-repeat center;
}

.video-reg i {
    background: url("../img/reg-icon.png") no-repeat center;
}

.video-down i {
    background: url("../img/down-icon.png") no-repeat center;
}
.video-add-user i {
    background: url("../img/add-user.png") no-repeat center;
}
.video-login i {
    background: url("../img/log-icon.png") no-repeat center;
}

.video-use:hover i {
    background: url("../img/use-icon-active.png") no-repeat center;
}

.video-details:hover i {
    background: url("../img/details-icon-active.png") no-repeat center;
}

.video-reg:hover i {
    background: url("../img/reg-icon-active.png") no-repeat center;
}

.video-down:hover i {
    background: url("../img/down-icon-active.png") no-repeat center;
}
.video-add-user:hover i {
     background: url("../img/add-user-active.png") no-repeat center;
 }

.video-login:hover i {
    background: url("../img/log-icon-active.png") no-repeat center;
}

.index-tel-content-item .col-md-7 img {
    width: 90%;
    height: auto;
    margin-top: 25px;
}

.index-tel-content-item h2 {
    line-height: 26px;
    padding-top: 10px;
    color: #2e2e2e;
    font-size: 18px;
    text-align: left;
}

.index-tel-content-item .line {
    margin-top: 20px;
    display: block;
    width: 120px;
    height: 2px;
    background: #16724e;

}

.index-tel-content-item .line-1 {
    width: 150px;
}

.index-tel-content-item .line-2 {
    width: 100px;
}

.index-tel-content-item p {
    text-align: left;
    /*  margin-top: 50px;*/
}

.index-tel-content-item .line-en {
    width: 100%;
}

.swiper-pagination {
    display: none;
}

@media screen and (max-width: 420px) {
    .swiper-pagination {
        display: block;
    }

    .aap-icon {
        width: 55px;
        height: 55px;
    }

    .aap-icon i {
        width: 50px;
        height: 50px;
    }

    .wrap-action .aap-icon {
        width: 50px;
        height: 50px;
        margin-top: 6px;
    }

    .aap-icon i.icon-4 {
        width: 25px;
        height: 25px;
    }

    .aap-icon-1 i.icon-1-1 {
        background-size: 100%;
        left: 15px;
        top: 15px;
    }

    .aap-icon-1 i.icon-1-2 {
        top: 13px;
        left: 15px;
    }

    .aap-icon-2 i.icon-2-1 {
        background-size: 60%;
        left: 5px;
    }

    .aap-icon-2 i.icon-2-2 {
        right: 10px;
        top: 15px;
    }

    .aap-icon-3 i.icon-3-1 {
        background-size: 100%;
        left: 8px;
        width: 40px;
        height: 40px;
        top: 7px;
    }

    .aap-icon-3 i.icon-3-2 {
        top: 15px;
        left: 15px;
        background-size: 100%;
    }

    .aap-icon-4 i.icon-4-1 {
        background-size: 70%;
        left: 8px;
        bottom: 12px;
    }

    .aap-icon-4 i.icon-4-2 {
        background-size: 80%;
        right: 8px;
        top: 10px;
    }

    .aap-icon-5 i.icon-5-1 {
        background-size: 70%;
        left: 8px;
    }

    .aap-icon-5 i.icon-5-2 {
        background-size: 80%;
        right: 5px;
        top: 0;
        height: 100%;
    }

    .wrap-action .aap-icon-1 i.icon-1-1 {
        background-size: 110%;
        top: 15px;
        left: 12px;
    }

    .wrap-action .aap-icon-1 i.icon-1-2 {
        top: 15px;
        left: 13px;
    }

    .wrap-action .aap-icon-2 i.icon-2-1 {
        left: 3px;
        bottom: 5px;
        background-size: 70%;
    }

    .wrap-action .aap-icon-2 i.icon-2-2 {
        right: 3px;
        top: 15px;
    }

    .wrap-action .aap-icon-3 i.icon-3-1 {
        left: 3px;
        bottom: 5px;
        background-size: 70%;
    }

    .wrap-action .aap-icon-3 i.icon-3-2 {
        right: 3px;
        top: 15px;
    }

    .wrap-action .aap-icon-4 i.icon-4-1 {
        left: 3px;
        bottom: 5px;
        background-size: 70%;
    }

    .wrap-action .aap-icon-4 i.icon-4-2 {
        right: 3px;
        top: 5px;
        background-size: 80%;
    }

    .wrap-action .aap-icon-5 i.icon-5-1 {
        left: 3px;
        bottom: 5px;
        background-size: 70%;
    }

    .wrap-action .aap-icon-5 i.icon-5-2 {
        right: 3px;
        top: 3px;
        background-size: 70%;
    }

}

/*
@media screen and (max-width: 1000px) {
    .index-tel-content-item h4 {
        text-align: center;
        margin-top: 10px;
    }
}
*/

@media screen and (max-width: 767px) {
    .index-container {
        padding: 80px 0 0;
    }

    .swiper-container {
        padding: 30px 0;
        width: 100%;
    }

    .index-tel-content-item h4 {
        font-size: 36px;
        text-align: center;
        margin: 30px 0 10px;
    }

    .index-tel-content-item p {
        font-size: 16px;
        /* text-align: center;*/
        margin-top: 0;
    }

    .index_download_item {
        float: none;
        display: inline-block;
    }

    .remote-desc-item {
        margin-top: 0;
    }

    .video-a {
        margin-right: 45px;
    }

    .index-tel-content-item .col-md-7 img {
        width: 100%;
        margin-top: 0;
    }

    .aap-icon i {
        margin: 0 auto;
        background-size: 50%;
    }

    .wrap-action .aap-icon i {
        background-size: 65%;
    }

}

/*index-container 结束*/
.index-animate .col-md-7 img {
    -webkit-animation: fadeInLeft 1500ms ease;
    -moz-animation: fadeInLeft 1500ms ease;
    -ms-animation: fadeInLeft 1500ms ease;
}

.index-animate .col-md-5 {
    -webkit-animation: fadeInRight 1500ms ease;
    -moz-animation: fadeInRight 1500ms ease;
    -ms-animation: fadeInRight 1500ms ease;
}

.index-aardp {
    /* background: #f8f8f8;*/
    width: 100%;
    height: 694px;
    background: url("../img/index-aardp-bg.png") no-repeat bottom center;
    text-align: left;
}

.index-aardp h3 {
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.index-aardp .row {
    width: 70%;
    margin: 30px auto;
}

.index-aardp i {
    display: block;
    width: 31px;
    height: 31px;
    background: url("../img/index-icon.png") no-repeat center;
    margin-top: 10px;
}

.index-aardp-animate h3 {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-aardp-animate .row {
    -webkit-animation: fadeInLeft 1500ms ease;
    -moz-animation: fadeInLeft 1500ms ease;
    -ms-animation: fadeInLeft 1500ms ease;
}

.index-aardp-animate .row-1 {
    -webkit-animation: fadeInRight 1500ms ease;
    -moz-animation: fadeInRight 1500ms ease;
    -ms-animation: fadeInRight 1500ms ease;
}

@media screen and (max-width: 767px) {
    .index-aardp {
        width: 100%;
        height: 694px;
        background: url("../img/index-aardp-bg.png") no-repeat left center;
        text-align: left;
    }

    .index-aardp-en {
        height: 780px;
    }

    .index-aardp .row {
        width: 100%;
        margin: 30px auto;
    }
}

@media screen and (max-width: 360px) {
    .video-a {
        margin-right: 38px;
    }
}

@media screen and (max-width: 330px) {
    .index-aardp h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .video-a {
        margin-right: 15px;
    }
}

.index-content {
    width: 100%;
    height: 463px;
    background: url("../img/index-image.png") no-repeat center;
    text-align: center;
    color: #fff;
}

.index-content h4 {
    font-size: 36px;
    padding-top: 140px;
    margin-bottom: 50px;
}

.index-content a {
    width: 180px;
    display: block;
    color: #fff;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.index-content a:hover {
    background: #fff;
    color: #222;
}

.index-content-animate h4 {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-content-animate a {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

@media screen and (max-width: 767px) {
    .index-content {
        height: 263px;
        background: url("../img/index-image.png") no-repeat left center;
    }

    .index-content h4 {
        font-size: 24px;
        padding-top: 40px;
    }

    .index-content-en h4 {
        font-size: 20px;
        line-height: 30px;
    }
}

/*产品详情页样式*/
.banner- {
    width: 100%;
    height: 450px;
    background: url("../img/banner2.png") no-repeat;
    text-align: center;
    color: #fff;
}

.banner- h3 {
    font-size: 110px;
    padding: 110px 0 60px;
}

.banner- p {
    font-size: 40px;
    padding-bottom: 130px;
}

.banner-title {
    width: 80%;
    margin: 35px auto 10px;
    padding-bottom: 25px;
    border-bottom: 2px solid #e1e1e9;
    text-align: center;
}

.banner-title ul li {
    display: inline-block;
    width: 180px;
    line-height: 50px;
    margin: 10px 20px;
}

.banner-title ul li a {
    display: block;
    color: #fff;
    background-color: #45bab1;
    border: 1px solid #fff;
    border-radius: 40px;
    opacity: .7;
    font-size: 18px;
}

.banner-title ul li:hover a {
    opacity: 1;
}

.-main {
    width: 100%;
    text-align: center;
    color: #383c45;
}

.-main h3 {
    font-size: 36px;
    margin: 77px 0 0 0;
    padding-bottom: 65px;
}

.-main .row {
    margin: 20px 0;
    text-align: left;
}

.-main img {
    display: block;
    width: 98px;
    height: 98px;
    margin: 0 auto;
}

.-main .row h4 {
    color: #3a3d44;
    font-size: 30px;
}

.-main .row p {
    color: #888b92;
    font-size: 18px;
}

.-main .back, .cd-main .back {
    line-height: 80px;
    color: #fff;
    width: 240px;
    background-color: #f8de00;
    border: 1px solid #fff;
    border-radius: 40px;
    display: block;
    margin: 140px auto 100px;
    font-size: 24px;
    text-align: center;
}

/*aanets 产品页详情*/
.banner--aanets {
    background: url("../img/banner3.png") no-repeat center;
}

.banner--aanets h3 {
    font-size: 80px;
}

.aanets {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 80px 0 0;
}

.aanets h3 {
    font-size: 36px;
    margin-bottom: 70px;
}

.aanets .row img {
    width: 98px;
    height: 98px;
    margin: 0 auto;
    display: block;
}

.aanets .row p {
    color: #888b92;
    font-size: 18px;
    line-height: 35px;
    margin: 40px 0 100px;
}

/*时间轴效果开始*/
.cd-main {
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

.cd-main h3 {
    font-size: 36px;
    margin-bottom: 70px;
    text-align: center;
    padding-top: 80px;
}

.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    /*margin-bottom: 2em;*/
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        /*  margin-bottom: 3em;*/
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img span {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 60px;
    background-color: #45bab1;
}

.cd-timeline-content .cd-date {
    width: 139px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}

.cd-date-1 {
    background: url("../img/02.png") no-repeat center;
}

.cd-date-2 {
    background: url("../img/01.png") no-repeat center;
}

.cd-date-3 {
    background: url("../img/06.png") no-repeat center;
}

.cd-date-4 {
    background: url("../img/03.png") no-repeat center;
}

.cd-date-5 {
    background: url("../img/04.png") no-repeat center;
}

.cd-date-6 {
    background: url("../img/05.png") no-repeat center;
}

.cd-date-7 {
    background: url("../img/07.png") no-repeat center;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    padding: 1em;
    width: 35%;
    text-align: right;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    text-align: left;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #5a5a5a;
}

.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

a.cd-read-more:hover {
    text-decoration: none;
    background-color: #424242;
}

.cd-timeline-content .cd-date {
    float: left;
    /*padding: .8em 0;*/
    position: absolute;
    left: 150%;
    top: 3%;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 170%;
    text-align: center;
}

.cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 26px;
        /* font-size: 1.25rem;*/
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }

}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        text-align: right;
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }

    .cd-timeline-content .cd-read-more {
        float: left;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        /*  width: 100%;*/
        left: 122%;
        top: 6px;
        font-size: 32px;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
        text-align: left;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: center;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@media screen and (max-width: 767px) {
    .cd-timeline-content {
        width: 36%;
        margin-left: 0;
    }

    .cd-timeline-content h2 {
        font-size: 18px;
        /* font-size: 1.25rem; */
    }

    .cd-timeline-content .cd-date {
        left: 170%;
        font-size: 26px;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        right: 170%;
    }

    .cd-timeline-img {
        margin-left: -20px;
        width: 40px;
        height: 40px;
    }

    .cd-timeline-img span {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
    }

}

@media screen and (max-width: 330px) {
    .cd-timeline-content {
        width: 36%;
        margin-left: 0;
    }

    .cd-timeline-content h2 {
        font-size: 14px;
        /* font-size: 1.25rem; */
    }

    .cd-timeline-content .cd-date {
        left: 154%;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        right: 154%;
    }
}

/*时间轴效果结束*/

@media screen and (max-width: 1200px) {
    .index-main-item-3 .par1-tel2 {
        right: 200px;
    }

    .index-main-item-3 .aanets-1 {
        right: -20px;
    }

    .index-main-item-5 .iMac5 {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 990px) {
    .index-main-item .remote-desc {
        text-align: center;
    }

    .index-main-item .remote-desc {
        height: auto;
        margin: 90px auto 0;
    }

    .index-main-item-1 .remote-desc {
        height: auto;
    }

    .index-main-item-3 .remote-desc {
        height: auto;
        margin: 20px auto 50px;
    }

    .index-main-item img {
        margin: 30px auto 0;
    }

    .index-main-item-1 img {
        margin: 180px auto 75px;
    }

    .index-main-item-2 {
        padding: 90px 0;
    }

    .index-main-item-3 img {
        margin: 150px auto;
    }

    .index-main-item-3 .par1-tel2 {
        right: 360px;
    }

}

.down-app {
    display: none;
}

@media screen and (max-width: 767px) {

    .banner, . {
        display: none;
    }

    .index-main-item .remote-desc {
        text-align: center;
    }

    .index-main-item .remote-desc {
        /*  height: 430px;*/
        height: auto;
        margin: 0 auto 0;
    }

    .index-main-item-1 .remote-desc {
        /* height: 345px;*/
    }

    .index-main-item .remote-desc h3 {
        padding-top: 10px;
    }

    .index-main-item-4 .remote-desc h3 {
        padding-top: 50px;
    }

    .index-main-item img {
        margin: 30px auto 0;
    }

    .phone-title {
        display: block;
        width: 100%;
        background-color: #45bab1;
        position: static;
        margin-left: 0;
    }

    .phone-title ul li {
        margin: 10px 0px;
        width: 120px;
    }

    .phone-title ul li a {
        color: #fff;
        font-size: 14px;
    }

    .phone-title-head {
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 0;
        z-index: 999;
        background-color: #45bab1;
        width: 100%;
    }

    /*首页下载样式*/
    .ios img {
        background: url("../img/down-code-2.png") no-repeat;
        width: 80px;
        height: 80px;
    }

    .android img {
        background: url("../img/down-code-3.png") no-repeat;
        width: 80px;
        height: 80px;
    }

    .index-main-item .remote-desc p {
        font-size: 20px;
    }

    /*index-main 图片样式*/
    .index-main-item-1 {
        padding: 0 0 40px 0;
    }

    .index-main-item-1 .compute {
        width: 120px;
        height: 120px;

    }

    .index-main-item-1 .compute0 {
        width: 90%;
        height: auto;
    }

    .index-main-item-3 img {
        margin: 100px auto 100px;
    }

    .index-main-item-1 .part-com, .index-main-item-3 .par3-com, .index-main-item-4 .par4-com {
        width: 90%;
        height: auto;
    }

    .index-main-item-3 .aanets-1 {
        width: 171px;
        height: auto;
        top: -50px;
        right: -15px;
    }

    .index-main-item-3 .aanets-2 {
        width: 110px;
        height: auto;
        bottom: 0;
        left: 30px
    }

    .index-main-item-3 .par1-tel2 {
        width: 56px;
        height: auto;
        bottom: -55px;
        right: 150px;
    }

    .index-main-item-4 .par3-tel {
        width: 150px;
        height: auto;
        bottom: -30px;
        right: 0;
    }

    .index-main-item-4 .aardp-tel-2 {
        /*width: 120px;
        height: auto;
        bottom: 0;
        left: 90px;*/
        width: 175px;
        height: auto;
        bottom: -35px;
        left: 40px;
    }

    .index-main-item-1 .compute1 {
        top: -35px;
        left: -16px;
    }

    .index-main-item-1 .compute2 {
        top: -35px;
        right: -15px;
    }

    .index-main-item-1 .compute3 {
        bottom: 0;
        left: -13px;;
    }

    .index-main-item-1 .compute4 {
        bottom: 0;
        right: -15px;
    }

    .index-main-item-2 .part2-com {
        width: 90%;
    }

    .index-main-item .remote-desc a.details {
        /*margin: 50px auto 0;*/
        margin: 10px auto 0;
    }

    .index-main-item-5 .iMac5 {
        width: 90%;
        height: auto;
    }

    .index-main-item-5 .ip1 {
        width: 150px;
        height: auto;
        bottom: 0;
        left: 0;
    }

    .index-main-item-5 .ip2 {
        width: 114px;
        height: auto;
        top: -45px;
        right: 0;
    }

    .index-main-item-5 .ip3 {
        width: 178px;
        height: auto;
        bottom: 0;
        right: 0;
    }

    .index-main-item-4 .remote-desc a.register {
        margin: 10px 0 0;
    }

    .index-main-item-5 h4 {
        font-size: 22px;
    }

    .index-main-item-5 h4 i {
        margin: 0;
    }

    .footer {
        margin-top: 0;
    }

    /*产品详情页样式*/
    .banner-title {
        width: 100%;
    }

    .banner-title ul li {
        width: 120px;
        margin: 10px 0;
    }

    .product-main .row h4 {
        font-size: 20px;
    }

    .product-main .row p {
        font-size: 14px;
    }

    .banner-product {
        height: 300px;
    }

    .banner-product h3 {
        font-size: 40px;
    }

    .banner-product p {
        font-size: 20px;
    }

    .product-main .back {
        margin: 60px auto;
    }

    .cd-main .back {
        margin: 50px auto 0;
    }

    .product-main img {
        width: 75px;
        height: 75px;
    }

    .product-main h3 {
        font-size: 30px;
    }

    .banner-title ul li a {
        font-size: 13px;
    }

    /*aanets 产品详情页*/
    .banner-product-aanets h3 {
        padding: 80px 0 60px;
    }

    .index_download_item_iconWrap {
        margin-top: 20px;
    }

    /*down-ul*/
    .down-ul li a span {
        font-size: 12px;
    }

    .index-main-item .down-ul {
        text-align: center;
    }

    .down-ul a {
        width: 70px;
        height: 70px;
        font-size: 14px;
    }

    .down-ul a img {
        margin: 0px auto 0;
    }

    .down-ul a:hover,
    .down-ul a:active,
    .down-ul a:visited {
        border: 1px solid #fff;
        border-radius: 15px;
        -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
        transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    .down-ul a.down-a:hover,
    .down-ul a.down-a:active,
    .down-ul a.down-a:visited {
        background: none;
    }

    .down-ul a.login-a:hover,
    .down-ul a.login-a:active,
    .down-ul a.login-a:visited {
        background: none;
    }

    .down-ul a.use-a:hover,
    .down-ul a.use-a:active,
    .down-ul a.use-a:visited {
        background: none;
    }

    .down-ul a.aardp-use-a:hover,
    .down-ul a.aardp-use-a:active,
    .down-ul a.aardp-use-a:visited {
        background: none;
    }

    .down-ul a.aardp-add-user-a:hover,
    .down-ul a.aardp-add-user-a:active,
    .down-ul a.aardp-add-user-a-a:visited {
        background: none;
    }

    .down-ul a.aanets-use-a:hover,
    .down-ul a.aanets-use-a:active,
    .down-ul a.aanets-use-a:visited {
        background: none;
    }

    .down-ul a.aanets-use-a:hover,
    .down-ul a.aanets-use-a:active,
    .down-ul a.aanets-use-a:visited {
        background: none;
    }

    .down-ul a:hover img,
    .down-ul a:active img,
    .down-ul a:visited img {
        background: url("../img/icon-ved.png") no-repeat repeat;
    }

    .down-ul a:hover span,
    .down-ul a:active span,
    .down-ul a:visited span {
        opacity: 1;
    }

    /*down-ul*/
    .down-ul {
        display: none;
    }

    .down-app {
        display: block;
        position: relative;
    }

    .video-app {
        display: block;
        background: url("../img/icon-ved.png") no-repeat center;
        width: 27px;
        height: 24px;
        margin-top: 20px;
        margin-left: 50px;
        margin-bottom: 20px;
        border: none;
    }

    .video-app-AARDP {
        background: url("../img/icon-ved-green.png") no-repeat center;
    }

    .app-ul {
        display: none;
        position: absolute;
        top: -12px;
        right: 50%;
        margin-right: -205px;
        width: 300px;
        border-radius: 15px;
        z-index: 999;
        -webkit-animation: bounceInRight 1500ms ease;
        -moz-animation: bounceInRight 1500ms ease;
        -ms-animation: bounceInRight 1500ms ease;
    }

    .app-ul li {
        line-height: 30px;
        display: inline-block;
        padding: 10px;
    }

    .app-ul li a {
        font-size: 16px;
        color: #fff;

    }

    .app-ul-AARDP li a {
        color: #45bab1;
    }

}

/*add phone-title-head css*/
@media screen and (max-width: 420px) {
    .phone-title ul.phone-ul-web {
        display: none;
    }

    .phone-title ul.phone-ul-420 {
        display: block;
    }

    .phone-title ul li {
        margin: 10px 0;
        width: 65px;
        word-wrap: break-word;
        word-break: break-all;
    }

    .phone-title ul li a {
        border-radius: 15px;
        font-size: 12px;
        height: 40px;
        padding: 14px 0;
        line-height: 20px;
    }

    .phone-title ul li:nth-of-type(5) a,
    .phone-title ul li:nth-of-type(2) a {
        padding: 10px 0;
        line-height: 10px;
    }
}

@media screen and (max-width: 330px) {
    .index-main-item .remote-desc h3 {
        font-size: 50px;
    }

    .index-main-item .remote-desc p {
        font-size: 18px;
    }

    .index-main-item .remote-desc .remote-desc-item a {
        margin: 10px 10px;
    }

    .index-main-item .remote-desc {
        /*height: 360px;*/
        height: auto;
    }

    .phone-title ul li a {
        font-size: 12px;
    }

    .phone-title ul li {
        margin: 10px 0;
    }

    /*首页下载样式*/
    .index_download_item {
        width: 24%;
    }

    /*index-main 图片样式*/
    .index-main-item-1 .part-tel {
        top: 60px;
    }

    .index-main-item-3 .aanets-1 {
        width: 130px;
        height: auto;
        top: -20px;
        right: -5px;
    }

    .index-main-item-3 .aanets-2 {
        width: 90px;
        height: auto;
    }

    .index-main-item-3 .par1-tel2 {
        width: 45px;
        height: auto;
        bottom: -45px;
        right: 130px;
    }

    .index-main-item-4 .aardp-tel-2 {
        left: 30px;
    }

    .index-main-item-5 h4 {
        font-size: 17px;
    }

    /*产品详情页样式*/
    .banner-title ul li {
        margin: 10px 5px;
    }

    .product-main h3 {
        font-size: 26px;
    }

    .banner-product h3 {
        font-size: 33px;
    }

    .down-ul a {
        width: 70px;
        height: 70px;
        font-size: 12px;
    }

    .down-ul a img {
        margin: 5px auto 0;
    }

    .video-app {
        margin-left: 30px;
    }

    .app-ul {
        margin-right: -190px;
    }

    .app-ul li a {
        font-size: 14px;
    }

    .phone-title ul li {
        width: 60px;
        padding: 16px 0;
    }

    .phone-title ul li:nth-of-type(5) a,
    .phone-title ul li:nth-of-type(2) a {
        padding: 3px 0;
        line-height: 15px;
    }
}

/*动画效果*/
.banner-animate h3, .banner-animate p {
    -webkit-animation: bounceInDown 1500ms ease;
    -moz-animation: bounceInDown 1500ms ease;
    -ms-animation: bounceInDown 1500ms ease;
}

.phone-title-animate ul {
    -webkit-animation: bounceInUp 1500ms ease;
    -moz-animation: bounceInUp 1500ms ease;
    -ms-animation: bounceInUp 1500ms ease;
}

/*.banner-animate a {
    -webkit-animation: bounceInDown 1500ms ease;
    -moz-animation: bounceInDown 1500ms ease;
    -ms-animation: bounceInDown 1500ms ease;
}*/
.product-item-1-animate {
    -webkit-animation: rotateInDownLeft 1500ms ease;
    -moz-animation: rotateInDownLeft 1500ms ease;
    -ms-animation: rotateInDownLeft 1500ms ease;
}

.-item-2-animate {
    -webkit-animation: rotateInDownRight 1500ms ease;
    -moz-animation: rotateInDownRight 1500ms ease;
    -ms-animation: rotateInDownRight 1500ms ease;
}

.index-main-item-1-animate .remote-desc h3,
.index-main-item-1-animate .remote-desc p,
.index-main-item-1-animate .remote-desc .down-ul,
.index-main-item-1-animate .remote-desc .video-app {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-1-animate .remote-desc .remote-desc-item,
.index-main-item-1-animate .details {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-2-animate .remote-desc h3,
.index-main-item-2-animate .remote-desc p {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-2-animate .part2-com {
    -webkit-animation: fadeInLeft 1500ms ease;
    -moz-animation: fadeInLeft 1500ms ease;
    -ms-animation: fadeInLeft 1500ms ease;
}

.index-main-item-2-animate .remote-desc .remote-desc-item {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-1-animate .compute1 {
    -webkit-animation: rotateInDownLeft 1500ms ease;
    -moz-animation: rotateInDownLeft 1500ms ease;
    -ms-animation: rotateInDownLeft 1500ms ease;
}

.index-main-item-1-animate .compute2 {
    -webkit-animation: rotateInDownRight 1500ms ease;
    -moz-animation: rotateInDownRight 1500ms ease;
    -ms-animation: rotateInDownRight 1500ms ease;
}

.index-main-item-1-animate .compute3 {
    -webkit-animation: rotateInUpLeft 1500ms ease;
    -moz-animation: rotateInUpLeft 1500ms ease;
    -ms-animation: rotateInUpLeft 1500ms ease;
}

.index-main-item-1-animate .compute4 {
    -webkit-animation: rotateInUpRight 1500ms ease;
    -moz-animation: rotateInUpRight 1500ms ease;
    -ms-animation: rotateInUpRight 1500ms ease;
}

.index-main-item-3-animate .remote-desc h3,
.index-main-item-3-animate .remote-desc p,
.index-main-item-3-animate .remote-desc .down-ul,
.index-main-item-3-animate .remote-desc .video-app {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-3-animate .remote-desc .remote-desc-item,
.index-main-item-3-animate .remote-desc .details {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-3-animate .aanets-1 {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-3-animate .aanets-2 {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-3-animate .par1-tel2 {
    -webkit-animation: fadeInRight 1500ms ease;
    -moz-animation: fadeInRight 1500ms ease;
    -ms-animation: fadeInRight 1500ms ease;
}

.index-main-item-4-animate .remote-desc h3,
.index-main-item-4-animate .remote-desc p,
.index-main-item-4-animate .remote-desc .down-ul,
.index-main-item-4-animate .remote-desc .video-app {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-4-animate .remote-desc .remote-desc-item,
.index-main-item-4-animate .remote-desc .register {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-4-animate .par3-tel {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-4-animate .par4-com {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-4-animate .aardp-tel-2 {
    -webkit-animation: fadeInLeft 1500ms ease;
    -moz-animation: fadeInLeft 1500ms ease;
    -ms-animation: fadeInLeft 1500ms ease;
}

.index-main-item-5-animate .remote-desc h3,
.index-main-item-5-animate .remote-desc h4,
.index-main-item-5-animate .remote-desc .down-ul,
.index-main-item-5-animate .remote-desc .video-app {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-5-animate .remote-desc .remote-desc-item,
.index-main-item-5-animate .remote-desc p {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-5-animate .ip1 {
    -webkit-animation: fadeInUp 1500ms ease;
    -moz-animation: fadeInUp 1500ms ease;
    -ms-animation: fadeInUp 1500ms ease;
}

.index-main-item-5-animate .ip2 {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}

.index-main-item-5-animate .ip3 {
    -webkit-animation: fadeInRight 1500ms ease;
    -moz-animation: fadeInRight 1500ms ease;
    -ms-animation: fadeInRight 1500ms ease;
}

/*产品详情页动画*/
.banner--animate h3 {
    -webkit-animation: bounceInDown 1500ms ease;
    -moz-animation: bounceInDown 1500ms ease;
    -ms-animation: bounceInDown 1500ms ease;
}

.banner--animate p {
    -webkit-animation: bounceInUp 1500ms ease;
    -moz-animation: bounceInUp 1500ms ease;
    -ms-animation: bounceInUp 1500ms ease;
}

.-main-1-animate {
    -webkit-animation: bounceInLeft 1500ms ease;
    -moz-animation: bounceInLeft 1500ms ease;
    -ms-animation: bounceInLeft 1500ms ease;
}

.-main-2-animate {
    -webkit-animation: bounceInRight 1500ms ease;
    -moz-animation: bounceInRight 1500ms ease;
    -ms-animation: bounceInRight 1500ms ease;
}

/*aanets 产品详情动画*/
.aanets-1-animate {
    -webkit-animation: bounceInLeft 1500ms ease;
    -moz-animation: bounceInLeft 1500ms ease;
    -ms-animation: bounceInLeft 1500ms ease;
}

.aanets-2-animate {
    -webkit-animation: bounceInRight 1500ms ease;
    -moz-animation: bounceInRight 1500ms ease;
    -ms-animation: bounceInRight 1500ms ease;
}

.cd-timeline-block-1-animate .cd-date {
    -webkit-animation: fadeInRight 1500ms ease;
    -moz-animation: fadeInRight 1500ms ease;
    -ms-animation: fadeInRight 1500ms ease;
}

.cd-timeline-block-1-animate h2 {
    -webkit-animation: fadeInLeft 1500ms ease;
    -moz-animation: fadeInLeft 1500ms ease;
    -ms-animation: fadeInLeft 1500ms ease;
}

.cd-timeline-block-2-animate h2 {
    -webkit-animation: fadeInRight 1500ms ease;
    -moz-animation: fadeInRight 1500ms ease;
    -ms-animation: fadeInRight 1500ms ease;
}

.cd-timeline-block-2-animate .cd-date {
    -webkit-animation: fadeInLeft 1500ms ease;
    -moz-animation: fadeInLeft 1500ms ease;
    -ms-animation: fadeInLeft 1500ms ease;
}

.cd-timeline-block-1-animate .cd-timeline-img,
.cd-timeline-block-2-animate .cd-timeline-img {
    -webkit-animation: fadeInDown 1500ms ease;
    -moz-animation: fadeInDown 1500ms ease;
    -ms-animation: fadeInDown 1500ms ease;
}


